<br><br><br><br><br><br>
<table class="table" className="container">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">username</th>
            <th scope="col">Email</th>
            <th scope="col">Create By</th>
            <th scope="col">Manage
                <button class="btn btn-success btn-xs" style="padding: 6px; " (click)="onGetAddticket()">add</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listTicket ;  let i = index">
            <th scope="row">{{item.ticketid}}</th>
            <td>{{item.ticketname}}</td>
            <td>{{item.ticketprice}}</td>
            <td>{{item.ticketdesc}}</td>
            <td>
                <button class="btn btn-danger btn-xs" style="padding: 2px; margin-right: 6px;" (click)="onDelete(item)">Delete</button>
                <button class="btn btn-warning btn-xs" style="padding: 2px; margin-right: 6px;"  (click)="onGetTicket(item)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>