<br/><br/>
<div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="#" class="formsignUp" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
          <h3 class="title">Update Ticket</h3>
          <br>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Name"  formControlName="ticketname" readonly/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Ticket Type" formControlName="tickettype" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Price" formControlName="ticketprice" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" placeholder="Description" formControlName="ticketdesc" />
          </div>
          <input type="submit" class="btn solid" />
        </form>
      </div>
    </div>
  </div>
